body {
	width: 100%;
	margin: 0;
	color: #363636; 
	font: 14px Georgia, "Times New Roman", Times, serif;
}

a {
	color: #21759B; 
	border-bottom: 1px dotted #ccc;
	text-decoration: none;
}

#example {
	width: 100%;
}

#example #canvas {
	float:left;
}

#example img {
	float:left;
}

a:hover {
	color: #000000; 
	text-decoration: none;
}

#container {
	margin: 20px 40px;

}

#title {
	color: #000000;
	font-size: 44px;
}

#description {
	font-size: 16px;
}

.code pre {
	font-family: Courier, fixed;
	font-size: 12px;
}

.break {
	width:42px;
	height:2px;
	clear: both;
}

#links {
	padding-bottom: 50px;
	margin: 0 -40px;
	clear: both;
}

#links ul {
	list-style-type: none;
}

#links li {
	margin-right: 25px;
	font-size: 1em;
	line-height: 1.6;

}