body {
	width: 100%;
	margin: 0;
	color: #363636; 
	background: #ffffff;
	font: 14px Georgia, "Times New Roman", Times, serif;
}

a {
	color: #21759B; 
	border-bottom: 1px dotted #ccc;
	text-decoration: none;
}



a:hover {
	color: #000000; 
	text-decoration: none;
}

#container {
	margin: 20px 40px;
	width: 800px;

}

#header {
	width: 800px;

	overflow:hidden;
}

#title {
	color: #000000;
	font-size: 44px;
	width: 700px;
	float:left;
}

#git {

	font-size: 18px;
	float:right;
	padding-top:24px;
}

#description {
	font-size: 16px;
	float:left;
}

#example-container {
	width: 800px;
	clear:both;
}

#example {
	width: 350px;
	float:left;
}



#example img {
	float:left;
	
}

#code {
	width: 400px;
	float: left;
	margin-top: -15px;
}

#code pre {
	font-family: Courier, fixed;
	font-size: 12px;
}

.break {
	width:800px;
	height:2px;
	padding-bottom:30px;
	clear: both;
}

.break img{
	width:800px;
	height:2px;
}

#examples-links {
	width: 800px;
}

#examples-title {
	font-size: 24px;
	float:left;
	width:150px;
	margin-bottom:15px;
}

#links {
	width: 400px;
	float:left;
	padding-bottom: 50px;
	margin: -9px -40px;
}

#links ul {
	list-style-type: none;
}

#links li {
	margin-right: 25px;
	font-size: 1em;
	line-height: 1.6;

}